:root {
  --container-width: 1360px;
  --container-padding: var(--space-unit);

  --bg: #000;
  --primary-color: #10f5a3;
  --secondary-color: var(--itay-color);
  --itay-color: #10f5a3;
  --bg-gray: #202529;
  --card-background: var(--bg);
  --title-color: #fff;
  --text-color: #fff;
  --border-color: #ffffff29;
  background: var(--bg);
  /* typography */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --space-unit: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --large-unit: clamp(6rem, 4vw + 3.75rem, 5.56rem);
  --border-radius: 0.3125rem;
}

.dark {
  --bg: #000;
  --primary-color: #fff;
  --secondary-color: var(--itay-color);
  --itay-color: #10f5a3;
  --bg-gray: #202529;
  --card-background: var(--bg);
  --title-color: #fff;
  --text-color: #fff;
  --border-color: #ffffff29;
  background: var(--bg);
}