h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Moo Lah Lah',
    cursive;
  letter-spacing: 5px;
}

h1,
.h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--primary-color);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  color: var(--title-color);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--title-color);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--title-color);
}

h5,
.h5 {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 0.4rem;
}

h6,
.h6 {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--title-color);
}

p {
  font-size: var(--font-size-base);
  font-weight: normal;
}

section {
  padding: var(--large-unit) 0;
}

.line {
  background-color: var(--itay-color);
  width: 40px;
  height: 3px;
  margin: 0 auto 30px;
}