@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;700;900&family=Moo+Lah+Lah&display=swap");
body {
  margin: 0;
  line-height: 1.4;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "League Spartan", sans-serif;
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Moo Lah Lah", cursive;
  letter-spacing: 5px;
}

h1,
.h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--primary-color);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  color: var(--title-color);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--title-color);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--title-color);
}

h5,
.h5 {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 0.4rem;
}

h6,
.h6 {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--title-color);
}

p {
  font-size: var(--font-size-base);
  font-weight: normal;
}

section {
  padding: var(--large-unit) 0;
}

.line {
  background-color: var(--itay-color);
  width: 40px;
  height: 3px;
  margin: 0 auto 30px;
}

header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  padding: 25px;
}
header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  max-width: 100%;
}
header .container h1 {
  position: absolute;
  left: 0;
  top: 0;
}

header::after {
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  content: " ";
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b224ef), to(#7579ff));
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  -webkit-animation: zuz 28s ease infinite;
  animation: zuz 28s ease infinite;
}

header::before {
  content: " ";
  position: absolute;
  height: 25vw;
  width: 25vw;
  border-radius: 25vw;
  -webkit-animation: zuz1 28s ease infinite;
  animation: zuz1 28s ease infinite;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b224ef), to(#7579ff));
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

@keyframes zuz {
  0% {
    top: -8%;
    background-position: 0% 0%;
    left: 0%;
  }
  25% {
    top: 25%;
    left: 25%;
  }
  50% {
    top: 75%;
    left: 0%;
    background-position: 100% 100%;
  }
  75% {
    left: 25%;
  }
  100% {
    top: -8%;
    left: 0%;
    background-position: 0% 0%;
  }
}
@keyframes zuz1 {
  0% {
    bottom: -8%;
    background-position: 100% 100%;
    right: 0%;
  }
  25% {
    bottom: 25%;
    right: 25%;
  }
  50% {
    bottom: 75%;
    background-position: 0% 0%;
    right: 0%;
  }
  75% {
    right: 25%;
  }
  100% {
    bottom: -8%;
    background-position: 100% 100%;
    right: 0%;
  }
}
a.skip-link {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid;
  border-radius: 50%;
  padding: 25px;
  display: grid;
  background: white;
  align-items: center;
  text-decoration: none;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  color: black;
  padding: 15px;
}

body > * {
  border: 1px solid white;
}

:root {
  --container-width: 1360px;
  --container-padding: var(--space-unit);
  --bg: #000;
  --primary-color: #10f5a3;
  --secondary-color: var(--itay-color);
  --itay-color: #10f5a3;
  --bg-gray: #202529;
  --card-background: var(--bg);
  --title-color: #fff;
  --text-color: #fff;
  --border-color: #ffffff29;
  background: var(--bg);
  /* typography */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --space-unit: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --large-unit: clamp(6rem, 4vw + 3.75rem, 5.56rem);
  --border-radius: 0.3125rem;
}

.dark {
  --bg: #000;
  --primary-color: #fff;
  --secondary-color: var(--itay-color);
  --itay-color: #10f5a3;
  --bg-gray: #202529;
  --card-background: var(--bg);
  --title-color: #fff;
  --text-color: #fff;
  --border-color: #ffffff29;
  background: var(--bg);
}

main#main .container {
  display: flex;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  width: 100%;
}
